/*  Map green: #c5d3aa */
/*  Orange:  #db8914  */

html {
	min-height: 100%;
	height: auto;
}
body {
	font: 14px Tahoma, sans-serif;
	/*background-color: #FFFFFF;*/
	background-position: bottom left;
	background-repeat: repeat-x;
	margin: 0px;
}

div#container {
	margin: 0 auto 0 auto;
	width: 930px;
}

img {
	border: none;
}

/*********** Fixed positioning for sponsor logos *********/
div#fixed_br {
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: right;
}
div#fixed_bl {
	position: fixed;
	bottom: 15px;
	left: 15px;
}
div#fixed_br img {
	text-align: left;
}

/********************* Header **********************/
div#header {
	background-color: #c5d3aa;   /* Map green */
	/*text-align: center;*/
}
div#logo {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
img#logo {
	border: 0px;
	width: 450px;
}

/********************* Nav **********************/
div#nav {
	float: left;
	width: 150px;
	/*margin-top: 10px;*/
	padding: 15px 12px 15px 0px;
	/*border-right: 3px solid #D59831;*/
	border-right: 3px solid black;
	text-align: right;
}
div.nav {
	padding: 8px 0px 8px 0px;
}

a.nav {
	color: #db8914; /* Map orange */
	text-decoration: none;
	font: 18px "Trebuchet MS", sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
}
a.nav:hover {
	color: #db8914;  /* Map orange*/
	text-decoration: underline;
}

div#current {
	/*color: #000000;*/
	color: black;
	text-decoration: none;
	font: 18px "Trebuchet MS", sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
}


/********************* Body **********************/
div {
	color: black;
}
div#body {
	/*width: 500px;*/
	width: 600px;
	padding-bottom: 80px;
	/*margin: 0 180px 0 180px;*/
	margin: 0 auto 0 auto;
}
div#body-text {
	width: 550px;
	margin: 0 25px 0;
	/*padding: 0 5px;*/
}
div#indexpage div {
	color: #888;
	font-size: 90%;
	border-top: 2px groove;
}
div#indexpage > div:first-child {
	font-size: 100%;
	color: inherit;
	border-top: none;
}
p.post-date {
	text-align: right;
	font-size: 70%;
	color: #888;
}
img.border {
	border: 2px solid #c5d3aa; /* Map green */
}
a {
	color: #db8914; /* Map orange */
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #c5d3aa; /* Map green */
}
div.center {
	width: 100%;
	text-align: center;
}
div.right {
	float: right;
	margin-left: 10px;
}
div.left {
	float: left;
	margin-right: 10px;
}
h1 {
	font: 24px "Trebuchet MS", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	color: #c5d3aa; /* Map green */
}
h1#title {
	font: 72px "Book Antiqua", serif;
	letter-spacing: 20px;
	font-weight: bold;
	margin: 0 0 0 0;
}
h1#title2 {
	font: 50px "Book Antiqua", serif;
	letter-spacing: 8px;
	font-weight: normal;
	margin: 0 0 0 0;
}
h2 {
	font: 18px "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	color: #db8914; /* Map orange */
	padding-top: 10px;
}
h1.center {
	text-align: center;
}
h2.center {
	text-align: center;
}
h3 {
	font: 14px "Lucida Grande", sans-serif;
	font-weight: bold;
	margin: 0 0 0 0;
	
}
p {
	text-align: justify;
	line-height: 1.5;
	padding-top: 0px;
}
p.center {
	text-align: center;
}
b {
	/*color: #db8914; /* Map orange */
	color: black;
}
li {
	text-align: justify;
	line-height: 1.5;
}
table.border {
	border: 2px solid #c5d3aa; /* Map green */
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}
td.border {
	border: 1px solid #c5d3aa; /* Map green */
}
th.border {
	border: 1px solid #c5d3aa; /* Map green */
}

/* Make this colour match the title logo */
th {
	/*color: #c5d3aa; /* Map green */
	color: black;
}
p.error, ul.error {
	font-weight: bold;
	color: #960000;
	background-color: #FFFF00;
}

table.results {
	border: 2px solid #c5d3aa; /* Map green */
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	text-align: center;
}
td.results {
	border: 1px solid #c5d3aa; /* Map green */
}
th.results {
	border: 1px solid #c5d3aa; /* Map green */
}

tr.results-overall {
	font-weight: bold;
	border: 2px solid #c5d3aa; /* Map green */
}
